$theme-colors: (
  "primary": #528078,
  //main
  "secondary": #eed75a,
  "success": #fec100,
  "info": #63e792,
  //light accent
  "warning": #ffe869,
  "danger": #703b3b,
  //dark accent
  "light": #fdfbf7,
  //light shade
  "dark": #555555,
  //dark
  "white": #fff,
  "gray": #6c757d,
  "gray-dark": #343a40,
);

body {
  font-family: "Montserrat", sans-serif !important;
}

h1,
h1.display-4 {
  font-family: "Prata", serif;
  color: var(--primary);
}

/* Paginations */

.apple_pagination {
  text-align: center;
  padding: 1em;
  cursor: default;
}
.apple_pagination a,
.apple_pagination span {
  padding: 0.2em 0.3em;
}
.apple_pagination .disabled {
  color: #aaaaaa;
}
.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}
.apple_pagination a {
  text-decoration: none;
  color: black;
}
.apple_pagination a:hover,
.apple_pagination a:focus {
  text-decoration: underline;
}

.row {
  padding: 1.5em;
}

.card-title a {
  font-family: "Prata", serif;
}

.card-footer {
  background: none !important;
}

p.lead {
  font-size: 1.1rem;
}
p {
  line-height: 1.85;
}

div.container {
  padding: 1.5em;
}

.text-area {
  margin-top: 1em;
  min-height: 30em;
  border: 2px solid grey;
  border-radius: 5px;
}

trix-toolbar {
  margin-top: 1em;
}

trix-toolbar button {
  border: 1px solid grey;
  border-radius: 5px;
}

.description-input {
  width: max-content;
  max-width: 100%;
}

div.custom-card {
  border: none;
}
div.trix-content {
  line-height: 1.85;
}

.form-inputs label {
  margin-top: 1em;
  margin-bottom: 0.3em;
}

.container:first-of-type {
  padding-top: 3em;
}

.btn.icon {
  display: flex;
  align-items: center;
  border: 1px solid var(--primary);
}

.btn.icon,
.btn.icon::before {
  transition: all ease-in-out 200ms;
}

.btn.icon:hover,
.btn.icon:hover::before {
  color: var(--primary);
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  margin-right: 0.3em;
}

.icon-instagram::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f16d";
}

.icon-itchio::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f83a";
}

.icon-github::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f09b";
}

.tag-post-list {
  list-style: none;
}

@import "~bootstrap/scss/bootstrap";
