
  <div class="container">
    <h1 class="display-4">About Us</h1>
        <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Maxime ut, voluptatum ex doloribus dignissimos sunt incidunt nulla suscipit, sequi quos, quibusdam unde corrupti praesentium repudiandae eaque. 
      Temporibus dolorum eius quae ipsa incidunt mollitia facilis repellat doloribus magnam laborum perferendis, quidem cumque praesentium beatae alias. 
      Recusandae quas velit temporibus incidunt unde placeat earum sint provident asperiores officia, dolorem rem deserunt veritatis error aliquid maxime corporis perferendis? 
      Eligendi, veritatis aut impedit alias accusamus libero et ex ratione. 
      Aliquid, ducimus consequuntur fuga cupiditate cum fugit repellendus natus at quia quos non, tempora laudantium repudiandae eveniet odit assumenda quas. 
      Nihil sequi facere ut autem ex inventore dolorum qui incidunt vero, sit soluta necessitatibus, eaque blanditiis laborum ipsa reprehenderit deserunt culpa exercitationem? 
      Enim soluta atque cum voluptatem veritatis assumenda optio mollitia inventore corrupti, earum facere voluptates ratione quam dolorem consequatur. 
      Tempora consectetur similique pariatur beatae magni nam consequuntur sit reprehenderit. 
    </p>
      <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Maxime ut, voluptatum ex doloribus dignissimos sunt incidunt nulla suscipit, sequi quos, quibusdam unde corrupti praesentium repudiandae eaque. 
      Temporibus dolorum eius quae ipsa incidunt mollitia facilis repellat doloribus magnam laborum perferendis, quidem cumque praesentium beatae alias. 
      Recusandae quas velit temporibus incidunt unde placeat earum sint provident asperiores officia, dolorem rem deserunt veritatis error aliquid maxime corporis perferendis? 
      Eligendi, veritatis aut impedit alias accusamus libero et ex ratione. 
      Aliquid, ducimus consequuntur fuga cupiditate cum fugit repellendus natus at quia quos non, tempora laudantium repudiandae eveniet odit assumenda quas. 
      Nihil sequi facere ut autem ex inventore dolorum qui incidunt vero, sit soluta necessitatibus, eaque blanditiis laborum ipsa reprehenderit deserunt culpa exercitationem? 
      Enim soluta atque cum voluptatem veritatis assumenda optio mollitia inventore corrupti, earum facere voluptates ratione quam dolorem consequatur. 
      Tempora consectetur similique pariatur beatae magni nam consequuntur sit reprehenderit. 
    </p>

    <div class="btn-group" role="group" aria-label="Basic example">
      <%= link_to "Instagram", "https://www.instagram.com/jonmakesart/", class: "btn  icon icon-instagram"%>
      <%= link_to "Itchi.Io", "https://shrikefound.itch.io/", class: "btn  icon icon-itchio"%>
      <%= link_to "Github", "https://github.com/ShrikeFound", class: "btn  icon icon-github"%>
    </div>

  </div>