
  <div class="container" style="max-width: max-content; margin: 0 auto; ">
    <h1 class="display-4">About Us</h1>
    <p style = "max-width: 60ch" >
      Jon and Alfonso are two friends from San Diego who like to talk about and design games. They are the creators of <strong>Roulette</strong> and <strong>Gnome Mo Faeries</strong>, along with a lot of other rough drafts that they share on their blog. The blog centers around playing and designing games, along with anything else they learn along the way. 
    </p>
    <p style = "max-width: 60ch">
    Jonathan is a freelance illustrator graphic designer currently working on multiple solo projects that he's excited to share. Alfonso works in an office somewhere and likes to talk about RPGs a lot.</p>

    <div class="btn-group" role="group" aria-label="Basic example">
      <%= link_to "Instagram", "https://www.instagram.com/jonmakesart/", class: "btn  icon icon-instagram"%>
      <%= link_to "Itchi.Io", "https://shrikefound.itch.io/", class: "btn  icon icon-itchio"%>
      <%= link_to "Github", "https://github.com/ShrikeFound", class: "btn  icon icon-github"%>
    </div>

  </div>