<div class="container" style="margin: 0 auto; max-width: max-content;">
<h1 style="text-align: center;">Categories</h1>
  <% @tags.each do |tag|%>
    <div class="row" style = "">
    <%
      tag_header = "#{tag.name} (#{tag.posts.count})" 
    %>
    <h3><%= link_to tag_header, tag_path(tag) %></h3>
            <% if current_user && current_user.admin%>
          <%= link_to "Delete Tag", tag_path(tag), method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
        </div>
  <% end %>

</div>