<div class="container">
  <%= @posts.each do |post|%>
    <div class="row">
      <div class="card mb-3">
        <img 
          class ="card-img-top"
          src="<%= url_for post.optimized_image(post.thumbnail,586,180)%>%"
          alt="Blog Post Image Thumbnail"
        />
      </div>
    </div>
  <% end%>
</div>